<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>HACKER NEWS</title>
</head>
<h1 style="text-align:center; color:#fff;">PERSONAL INFO</h1>
<body class="bg-info" style= padding-top:15px;padding-left:50px;padding-right:80px;'>
		<div class="back" style="background-color: #fff;">
		</div>
</body>
</html>
