<html>
	<head>
		<title>Informed Consent Form</title>
		<style>
			.header{
				text-align: center;
				font-size:40px;
			}
			.main{
				padding: 70px;
			}
			.main p{
				font-size: 30px;
			}
			.main button{
				font-size: 30px;
			}
			.user_name{
				border: none;
				outline: none;
				font-size: 30px;
				border-color: white;
				border-bottom: 1px solid black;
			}
			.field{
				margin-right: 20px;
				margin-bottom: 20px;
				font-size: 30px;
				border: none;
				outline: none;
				border-bottom: 1px solid black;
			}
		</style>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<h1 class='header'>INFORMED CONSENT FORM</h1>
		<form action="/cont-form" method="POST" autocomplete="off">
		<div class = "main">

			<% if(typeof alert != 'undefined') { %>
				<% alert.forEach(function(error) { %>
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						  <%= error.msg %>
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
					</div>
				<% }) %>
			<% } %>

			<p> I <input type="text" class="user_name" name="user_name"> give consent to <b>Rahul Rathod</b> to provide Nutrition Counselling to myself or the person for whom i am legally responsible. The consult will provide information and guidance about health factor that are within my control: my diet, nutrition and lifestyle.<br><br>

			I understand that <b>Rahul Rathod</b> is not a medical physician. Thus, he/she will not diagnose medical conditions, but will provide nutritional support and nutrition support and nutrition education for an already diagnosed condition. While nutritional support would be important compliment to my health and disease management, I understand these service cannot a substitute for medical care. <br><br>

			Methods of nutrition evaluation or testing made available to me are intended as a guide to developing an appropriate health-supportive program for me, and to monitor my progress in achieving my health goals. Medical records, personal information and history divulged insession to <b>Rahul Rathod</b> will be kept confidentail, unless I consent to sharing my medical information. <br><br>

			I hereby release, discharge, and hold harmless <b>Rahul Rathod</b> form all claims, demands, costs and expenses and cause of actions, either in law or equilty arising out of or in anyway connected to services I receive from <b>Rahul Rathod</b>. I have read this consent form and term contained herein carefully. I understand this terms of this form and voluntarity agree to be bound by them. <br><br><br>

			Client's Name: <input type='text' class='field' name='client_Name'><br>
			Contact Number: <input type='text' class='field' name='client_Number'><br>
			<div class="form-group">                                      	<button type="submit" class="btn btn-info"><i class="fa fa-paper-plane" style="padding-right:10px;"></i>Submit</button></div>
		</div>
		</p>
		</form>
	</body>
</html>
