<!DOCTYPE html>
<html>
    <head>
        <title>Aman Rathore(@M@N_AR7)</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/style.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="hole">
		<div class="header">
			<div class = "main">
			<div class="Name">
				<h1>RAHUL Rathore</h1>
                                <p>Trainner</p>
			</div>
			<div class="Introduction">
				<div class="pic">
					<img src="/rahul.jpg">
				</div>
				<div class="Intro_data">
					<div class="head">
					<h2>I'M <span style="color:#28a828;">RAHUL RATHORE</span></h2>
                                        <p>Trainner</p></br>
					</div>
					<div class="Information">
						<p>Age &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 22</p>
						<p>Address &nbsp; &nbsp;Pune,Maharastra</p>
						<p>Email &nbsp; &nbsp; &nbsp; amanrathod777@gmail.com</p>
						<p>Phone &nbsp; &nbsp; &nbsp;+91 7040755030</p>
					</div>
						<ul class = "logo-nav">
						<li><a href="https://www.facebook.com/aman.rathod.9022"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/17_ar_7/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="hhttps://api.whatsapp.com/send?phone=917040755030"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
						<li><a href="https://twitter.com/AmanRat08689082"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
                            <div class="skills">
                                <h2>SKILLS</h2>
                                <div class="S_Explain">
                                    <div class = "contain">
                                        <p>I am Graduate from Modern College of Arts,Science and Commerce.<br><br>
                                        Tool and Technology which i know :<p><br>
                                        <ul>
                                            <li><b style="font-size: 15px; color:#269926">Languages </b></li>
                                            <p>- C, C++, CoreJava, Python, HTML, CSS, JavaScript, Mysql.</p><br>
                                            <li><b style="font-size: 15px; color:#269926">Software</b></li>
                                            <p> Turbo C++, Netbean Id, Android Studio, Vim.</p></br>
                                            <li><b style="font-size: 15px; color:#269926">Operating System</b></li>
                                            <p>Linux, Window.</p><br>
                                            <li><b style="font-size: 15px; color:#269926">Other Skill</b></li>
                                            <p>Football, Dance.</p>
                                        </ul>
                                    </div>
                                </div>
			    </div>
                            <!--<h2 class="Education">EDUCATION</h2>
                            <div class = "whole">
                                <div class = para>		       				   
                                <div class="para1">
                                    <div class="box">
                                    </div>
                                        <h4 class="edu">10th Std</h4>
                                        <p class="edu_content">Army Public School</p>
                                        <div class="year">
                                            <div class="arrow"></div>
                                            <p>2014-2015</p>
                                        </div>
				</div>
				<div class="para2">
                                    <div class="box">
                                    </div>
                                        <h4 class="edu">Graduate in Computer Application</h4>
                                        <p class="edu_content">Modern College in Pune</p>
                                        <div class="year">
                                            <div class="arrow"></div>
                                            <p>2017-2020</p>
                                        </div>
				</div>
				<div class="para3">
                                  	<div class="box">
                                        </div>
                                        <h4 class="edu">Certication in Core Java</h4>
                                        <p class="edu_content">Impetus Institute</p>
                                        <div class="year">
                                            <div class="arrow"></div>
                                            <p>2017-2017</p>
                                        </div>
				</div>
			</div>
                                <div class="line">
                                    <div class="spot1">	
                                    </div>
                                    <div class="spot2">
                                    </div>
                                    <div class="spot3">
                                    </div>
                                    <div class="spot4">
                                    </div>
                                    <div class="spot5">
                                    </div>
                                    <div class="spot6">
                                    </div>
                                </div>
			<div class="para2">
				<div class="para2_1">
					<div class="box2">
					</div>
                                    <h4 class="edu">12th Std</h4>
                                    <p class="edu_content">S.B Patil College</p>
                                    <div class="year">
                                        <div class="arrow"></div>
                                            <p>2015-2017</p>
                                    </div>
				</div>
				<div class="para2_2">
					<div class="box2">
					</div>
                                    <h4 class="edu">Graduate in Web Development</h4>
                                    <p class="edu_content">SOAL - Product Engineering</p>
                                    <div class="year">
                                        <div class="arrow"></div>
                                            <p>2020-2020</p>
                                        </div>
				</div>
				<div class="para2_3">
					<div class="box2">
					</div>
                                    <h4 class="edu">Certification in Machine Learning</h4>
                                    <p class="edu_content">College Workshop</p>
                                    <div class="year">
                                        <div class="arrow"></div>
                                            <p>2019-2019</p>
                                    </div>
				</div>

			</div>
		</div>
                            <div class="project_whole">
                            <h1>My Works</h1>
                            <div class="project">
                                 <div class="B_box">
                                    <div class="imgBox">
                                        <img src="Images/Java.png" width="300px" height="200px">
                                    </div>
                                    <div class="content">
					    <h2><a href="https://github.com/aman431/Java-Hotel_Management">Restaurant Management System</a></h2>
                                    </div>
                                    <div class="h11">
                                        <h2>Project1</h2><br>
                                    </div>
                                </div>
                                    <div class="B_box">
                                        <div class="imgBox">
                                            <img src="Images/Python.png" width="200px" height="200px">
                                        </div>
                                        <div class="content">
						<h2><a href="https://github.com/aman431/Python-Jarvis">Jarvis</a><br></h2>
                                        </div>
                                        <div class="h11">
                                        <h2>Project 2</h2>
                                        </div><br>
                                    </div>  
                                        <div class="B_box">
                                        <div class="imgBox">
                                            <img src="Images/Website.png" width="200px" height="250px">
                                        </div>
                                        <div class="content">
						<h2><a href="https://github.com/aman431/Website">Website</a><br></h2>
                                        </div>
                                        <div class="h11">
                                            <h2>Project 3</h2>
                                        </div><br>
                                    </div>
                            </div>
                            <div class="project1">
                               <div class="B_box">
                                    <div class="imgBox">
                                        <img src="Images/A3.png" width="300px" height="270px">
                                    </div>
                                    <div class="content">
					    <h2><a href="https://github.com/aman431/app">App</a><br></h2>
                                    </div>
                                    <div class="h11">
                                        <h2>Project4</h2><br>
                                    </div>
                                </div> 
                                
                                <div class="B_box">
                                    <div class="imgBox">
                                        <img src="Images/Screenshot_2020-08-06-00-58-08-338_com.android.chrome.png" width="200px" height="300px">
                                    </div>
                                    <div class="content">
					    <h2><a href="https://github.com/aman431/Tic-Tac-Toe">Tic-Tac-Toe</a><br></h2>
                                    </div>
                                    <div class="h11">
                                        <h2>Project5</h2><br>
                                    </div>
                                </div> 
                                
                                <div class="B_box">
                                    <div class="imgBox">
                                        <img src="Images/Social_Card.png" width="200px" height="250px">
                                    </div>
                                    <div class="content">
					    <h2><a href="https://github.com/aman431/Social-Card">Social Card</a><br></h2>
                                    </div>
                                    <div class="h11">
                                        <h2>Project6</h2><br>
                                    </div>
                                </div>
				</div>
				<div class="view_all">
					<a href="https://github.com/aman431 ">View all</a>
				</div>

                            </div>
	</div>
		</div>-->
   </div>
 </body>
</html>
