<!DOCTYPE html>
<html>
    <head>
        <title>Nutrition Assessment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/style.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="hole">
		<div class="header">
			<div class = "main">
			<div class="Name">
				<h1>RAHUL Rathod</h1>
                                <p>Trainner</p>
			</div>
			<div class='login'>
				<a href="/login">Login</a>
				<a href="signup"><span>Signup</span></a>
			</div>
			<div class="Introduction">
				<div class="pic">
					<img src="/rahul.jpg">
				</div>
				<div class="Intro_data">
					<div class="head">
					<h2>I'M <span style="color:#28a828;">RAHUL RATHOD</span></h2>
                                        <p>Trainner</p></br>
					</div>
					<div class="Information">
						<p>Age &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 25</p>
						<p>Address &nbsp; &nbsp;Pune,Maharastra</p>
						<p>Email &nbsp; &nbsp; &nbsp; rathod1835@gmail.com</p>
						<p>Phone &nbsp; &nbsp; &nbsp;+91 7276848158</p>
					</div>
						<ul class = "logo-nav">
						<li><a href="https://www.facebook.com/aman.rathod.9022"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/17_ar_7/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="hhttps://api.whatsapp.com/send?phone=917040755030"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
						<li><a href="https://twitter.com/AmanRat08689082"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
                            <div class="skills">
                                <h2>SKILLS</h2>
                                <div class="S_Explain">
                                    <div class = "contain">
                                        <p><b><u>Qualification and Achivement.<br><br><br></u></b></p>
                                        <ul>
                                        	<p><b>Certification</b></p><br>
                                            <li style="position: relative;left: 45px;">K11 Certified persoanl Trainer<br>(January 2019)</li>
                                            <p></p><br>
                                            <li style ="position: relative; left:40px;">CPR/AED Certified<br>(January 2019)</li><br>              
                                            <li style="position: relative;left: 40px;">ICREP's Certified<br>(April 2019)</li><br>
					    <li style ="position: relative; left:40px;">Bodybuilding course from IFSI <br>academy</li><br>  
                                            <!-- <p><b>Bodybuilding course from IFSI academy</b></p><br> -->
                                            <!-- <p><b>Sports Nutritionist</b></p><br> -->
                                            <li style ="position: relative; left:40px;">Sports Nutritionist</li><br>
					    <p><b>Expreience</b>
					    <li style ="position: relative; left:40px;margin-top:20px;"> 6 month as a Personal Trainer in Iron Grind Gym</li><br>
					    <li style ="position: relative; left:40px;"> 1 year as a Personal Trainer in Multifit Xion mall</li><br>
					    <li style ="position: relative; left:40px;"> 6 months as a Online  Personal <br>Training</li><br>
                                        </ul>
                                    </div>
                                </div>
			    </div>
                       </div>
 </body>
</html>
