<!DOCTYPE html>
<html>
	<head>
		<title>SignUp page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			h1{
				text-align: center;
				margin-top: 20px;
				margin-bottom: 50px;
			}
			.main{
				font-size:30px;
			}
			.main input{
				font-size:30px;
			}
			.main button{
				font-size:20px;
			}
			.main a{
				font-size: 20px;
			}
		</style>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class='main'>
		<h1> Login page </h1>
		<form action="/login" method="POST" autocomplete="off" style="padding:100px; padding-top: 10px;">
			<div class="main" style="height:250px; width:800px;">
				<% if(typeof alert != 'undefined') { %>
					<% alert.forEach(function(error) { %>
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							  <%= error.msg %>
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							  </button>
						</div>
					<% }) %>
				<% } %>
				<div class='form-group'>
						<label>Email</label>
						<input type="text" class="form-control" name = "email" placeholder="Email">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name = "password" placeholder="Password">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-info"><i class="fa fa-user" style="padding-right:10px;"></i>Submit</button>
					<!-- <button type="submit" class="btn btn-info"><i class="fa fa-user" style="padding-right:10px;"></i>Submit</button> -->
					<a class="btn btn-secondary" href="/signup"><i class="fa fa-sign-in" style="padding-right:10px;"></i>Sign In</a>
				</div>
			</div>
		</form>
		</div>
	</body>
</html>
