<html>
	<head>
		<title>PARQ</title>
		<style>
			h1{
				padding: 10px;
				text-align: center;
			}
			.main{
				padding-top: 10px;
				padding-left: 100px;
				padding-right: 50px;
				font-size: 20px;
			}
			table{
				 border-collapse: collapse;
			}
			table tr td{
				font-size: 20px;
				padding: 10px;
			}
			button{
				margin-top: 15px;
				padding: 5px;
				font-size: 20px;
			}
		</style>
	</head>
	<body>
		<h1> PHYSICAL ACTIVITY READINESS QUESTIONNAIRE (PARQ) AND LIFESTYLE</h1>
		<form action="/parq" method="POST" autocomplete="off">
			<div class='main'>
				<p> Taking part in physical activity/exercise is very safe for most people. However, some people should check with their doctor before they start an exercise session. Before taking part in hysical activity and/or exercise, please answer the questions below. if you are between the ages of 15 and 69, the PAR-Q will tell you if you should check with your doctoe before you start. If you are over 69 years of age, and you are not used to being very active, check with your doctor.<br>
				Common sense is your best guide when you answer these operations. Please read the questions carefully and answer each one honestly: please click YES or NO. </p>


				<table border='1px'>
					<tr>
						<td style="width:650px;">1. Has your doctor ever said that you have a heart condition and that you should only perform physical activity recommended by a doctor? </td>
						<td>Yes<input type='radio'name='question1' value='yes' >
							No<input type='radio'name='question1' value='no'>
						</td>
					</tr>
					<tr>
						<td style="width:500px;">2. Do you feel pain in your chest when you perform physical activity?</td>
						<td>Yes<input type='radio'name='question2' value='yes' >
							No<input type='radio'name='question2' value='no'>
						</td>
					</tr>
					<tr>
						<td style="width:500px;">3. Do you lose your balance because of dizziness or do you ever lose consciousness?</td>
						<td>Yes<input type='radio'name='question3' value='yes' >
							No<input type='radio'name='question3' value='no'>
						</td>
					</tr>
					<tr>
						<td style="width:500px;">4. Do you have a bone or joint problem that could be made worse by a change in your physical activity?</td>
						<td>Yes<input type='radio'name='question4' value='yes' >
							No<input type='radio'name='question4' value='no'>
						</td>
					</tr>
					<tr>
						<td style=' width: 500px;'>5. Do you have a bone or joint problem that could be made worse by a change in your physical activity?  </td>
						<td>Yes<input type='radio'name='question5' value='yes' >
							No<input type='radio'name='question5' value='no'>
						</td>
					</tr>
					<tr>
						<td style=' width: 500px;'>6. Is your doctor currently prescribing any medication for your blood pressure or for a heart condition? </td>
						<td>Yes<input type='radio'name='question6' value='yes' >
							No<input type='radio'name='question6' value='no'>
						</td>
					</tr>
					<tr>
						<td style=' width: 500px;'>7. Is your doctor currently prescribing any medication for your blood pressure or for a heart condition? </td>
						<td>Yes<input type='radio'name='question7' value='yes' >
							No<input type='radio'name='question7' value='no'>
						</td>
					</tr>
				</table>
				<button type='submit'>Submit</button>
			</div>
		</form>
	</body>
</html>