<html>
	<head>
		<title>PARQ</title>
		<style>
			h1{
				padding: 20px;
				font-size: 40px;
				text-align: center;
			}
			.main{
				padding-left:40px;
			}
			.main p{
				font-size: 30px;
			}
			table{
				 border-collapse: collapse;
				 font-size: 30px;
				 width: 850px;
			}
			table tr td{
				padding: 20px;
				font-size: 30px;
			}
			.field{
				border:none;
				outline: none;
				margin-left: 40px;
				font-size: 30px;
				margin-bottom: 50px;
				border-bottom: 1px solid black;
				margin-right: 10px;
			}
			button{
				margin-top: 15px;
				padding: 10px;
				font-size: 40px;
			}
			.information{
				padding: 5px;
				font-size: 30px;
			}
			.phy-act{
				position: relative;
				font-size: 20px;
				right: 10px;
			}
			.phy-act th{
				text-align: center;
			}
			.phy-act td{
				font-size: 20px;
			}
			.phy-act td input{
				outline: none;
				border: none;
				font-size: 20px;
			}
		</style>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<h1> PHYSICAL ACTIVITY READINESS QUESTIONNAIRE (PARQ) AND LIFESTYLE</h1>
		<form action="/parq" method="POST" autocomplete="off">
			<div class='main'>
				<% if(typeof alert != 'undefined') { %>
					<% alert.forEach(function(error) { %>
						<div class="alert alert-warning alert-dismissible fade show" role="alert">
							  <%= error.msg %>
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							  </button>
						</div>
					<% }) %>
				<% } %>
				<p> Taking part in physical activity/exercise is very safe for most people. However, some people should check with their doctor before they start an exercise session. Before taking part in hysical activity and/or exercise, please answer the questions below. if you are between the ages of 15 and 69, the PAR-Q will tell you if you should check with your doctoe before you start. If you are over 69 years of age, and you are not used to being very active, check with your doctor.<br><br>
				Common sense is your best guide when you answer these operations. Please read the questions carefully and answer each one honestly: please click YES or NO. </p><br>


				<table border = 1px>
					<tr>
						<td style="width:700px;">1. Has your doctor ever said that you have a heart condition and that you should only perform physical activity recommended by a doctor? </td>
						<td style='width:200px'>Yes<input type='radio' name='question1' value='yes'>
						No<input type='radio'name='question1' value='no'></td>
					</tr>
					<tr>
						<td style="width:600px;">2. Do you feel pain in your chest when you perform physical activity?</td>
						<td>Yes<input type='radio'name='question2' value='yes' >
							No<input type='radio'name='question2' value='no'>
						</td>
					</tr>
					<tr>
						<td style="width:600px;">3. Do you lose your balance because of dizziness or do you ever lose consciousness?</td>
						<td>Yes<input type='radio'name='question3' value='yes' >
							No<input type='radio'name='question3' value='no'>
						</td>
					</tr>
					<tr>
						<td style="width:600px;">4. Do you have a bone or joint problem that could be made worse by a change in your physical activity?</td>
						<td>Yes<input type='radio'name='question4' value='yes' >
							No<input type='radio'name='question4' value='no'>
						</td>
					</tr>
					<tr>
						<td style=' width: 600px;'>5. Do you have a bone or joint problem that could be made worse by a change in your physical activity?  </td>
						<td>Yes<input type='radio'name='question5' value='yes' >
							No<input type='radio'name='question5' value='no'>
						</td>
					</tr>
					<tr>
						<td style=' width: 600px;'>6. Is your doctor currently prescribing any medication for your blood pressure or for a heart condition? </td>
						<td>Yes<input type='radio'name='question6' value='yes' >
							No<input type='radio'name='question6' value='no'>
						</td>
					</tr>
					<tr>
						<td style=' width: 600px;'>7. Is your doctor currently prescribing any medication for your blood pressure or for a heart condition? </td>
						<td>Yes<input type='radio'name='question7' value='yes' >
							No<input type='radio'name='question7' value='no'>
						</td>
					</tr>
				</table><br>
				<p>If you answered YES to any of the questions above, please check with a number of staff before taking part in the physical activity or execrise session. It may be necessary for you to be referred to your docotor before taking part in the session<br>
				If yo answered NO to all questions, you can be reasonably sure that you can safety take part in the physical activity or exercise sessions, but please ensure that you begin slowly, warn up appropriately and progress slowly<br><br>
				ASSUMPTION OF RISK: I declare that I have read, understood, and answered honestly all the questions above. I am agreeing to participate in the exercise session (which may include aerobic, resistance, power and stretching exercises) and understood that there may be risks associated with physical activity.<br>
				I have read, understood and completed this questionnarie. Any questions I had were answered to my full satisfaction . <br><br>
				If you have answered yes to any of the questions in the PARQ you must consult your doctor before taking part in the training. if you have answered NO to all of the questions in the PARQ or have confirmation from your doctor that you can take part, please complete the Consent form.</p>
				<div class='information'>
					Age:<input type='text' class='field' name='age' /><br>
					Gender:<input type='text' class='field' name='gender' /><br>
					Height:<input type='text' class='field' name='height' /><br>
					Weight:<input type='text' class='field' name='weight' /><br>
				</div><br><br>
				<div class="physical">
					<table class='phy-act' border="1">
						<tr>
							<th>ACTIVITY</th>
							<th>TYPE/ INTENSITY<br>
							<span style="font-size: 15px;">(LOW-MODIRATE-HIGH)</span></th>
							<th>NO OF DAYS PER WEEK</th>	
							<th>DURATION<br><span style="font-size: 15px;">(MINUTES)</span></th>
						</tr>
						<tr>
							<td>Strength Training</td>
							<td><input type="text" name="training_type"></td>
							<td><input type="text" name="training_week"></td>
							<td><input type="text" name="training_duration"></td>
						</tr>
						<tr>
							<td>Cardio/ Aerobics</td>
							<td><input type="text" name="cardio_type"></td>
							<td><input type="text" name="cardio_week"></td>
							<td><input type="text" name="cardio_duration"></td>
						</tr>
						<tr>
							<td>Stretching/ Yoga</td>
							<td><input type="text" name="stretching_type"></td>
							<td><input type="text" name="stretching_week"></td>
							<td><input type="text" name="stretching_duration"></td>
						</tr>
						<tr>
							<td>Sports/ Leisure</td>
							<td><input type="text" name="sports_type"></td>
							<td><input type="text" name="sports_week"></td>
							<td><input type="text" name="sports_duration"></td>
						</tr>
						<tr>
							<td>Other (specify/describe)</td>
							<td><input type="text" name="other_type"></td>
							<td><input type="text" name="other_week"></td>
							<td><input type="text" name="other_duration"></td>
						</tr>
					</table>
				</div><br><br>
				<button class='btn btn-info' type='submit'>Submit</button>
			</div>
		</form>
	</body>
</html>
