<h1> PARQ Form </h1>
<table border='1px>
<tr>
<td>This is first block</td>
<td> yes<input type='radio' name='n1'/> No<input type='radio' name='n2'/></td><br>
<td>This is first block</td>
<td> yes<input type='radio' name='n1'/> No<input type='radio' name='n2'/></td>
</tr>
</table>
