<!DOCTYPE html>
<html>
<head>
	<title>Submit</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.main{
			margin-top: 20%;
			text-align: center;
		}
	</style>
</head>
<body class="bg-info">
	<div class="main">
		<div>
			<h1>Your Response is successfully Submitted</h1>
			<h3>Please Contact to your Traniner for further Process</h3>
			<h2><i class="fa fa-check" style="padding-right:10px; color: #fff"></i>Thank You</h2>
<<<<<<< HEAD
			<a class="btn btn-warning" href="/logout" style='font-size: 30px'><i class="fa fa-sign-out" style="padding-right:10px;"></i>Logout</a>
=======
			<a class="btn btn-warning" href="/logout"><i class="fa fa-sign-out" style="padding-right:10px;"></i>Logout</a>
			<a class="btn btn-warning" href="/update/<%= this.id %>"><i class="fa fa-sign-out" style="padding-right:10px;"></i>Update</a>
>>>>>>> 51a9534761d053e1cd1a83db0123d9bd3b9fc32d
		</div>
	</div>
</body>
</html>
