*{
	margin: 0px;
	padding: 0px;
}
.hole{
    background: #cac5c5; 
    height: 2000px;
}
.header{
	background: #269926;
	height: 450px;
}
.main{
    position:relative;
    margin-left: 80px;
    margin-right: 80px;
    top: 40px;
}
.Name{
	color: white;
	word-spacing: 1px;
	letter-spacing: 5px;
	font-family:initial;
	text-align: center;
}
.Name h1{	
	font-size: 25px;
	Text-transform: uppercase;
}
.Name p{
	font-size: 25px;
	letter-spacing: 10px;
}
.Introduction{
	display: flex;
	background: #fff;
	height: 400px;
	margin-top: 100px;
	width: 800px;
}
.Introduction .pic img{
	height: 100%;
	width: 100%;
}
.Introduction .Intro_data{
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
}
.Introduction .Intro_data .head{
	border-bottom: 1px solid grey;
	width: 500px;
}
.Introduction .Intro_data .Information p{
	padding-top: 20px;
}
.Introduction .Intro_data .logo-nav{
	position: relative;
	top: 26%;
	right: 20px;
	width: 104%; 
	height: 50px;
	background: #269926;
} 
.Introduction .Intro_data .logo-nav li{
	display: inline;
	padding: 42px;
	color: white;
	font-size: 30px;
	list-style: none;
}
.Introduction .Intro_data .logo-nav li a i{
	color: white;
        padding-top: 10px;
}
.skills{
    margin-top: 60px;
}
.skills h2{
    text-align: center;
    color: #269926;
}
.S_Explain{
    display: flex;
    background: white;
    margin-top: 40px;
    width: 100%; 
    height: 550px;
    box-shadow: -10px -10px 10px rgba(98, 91, 91, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.23);
}
.S_Explain .contain{
    display: block;
    width: 350px;
    padding: 40px;
    //padding-left: 35%;
    font-size: 20px;
}
.S_Explain .score{
    padding:40px;
    padding-left: 5px;
}
.S_Explain .score span{
    position: relative;
    left: 210px;   
}
.S_Explain .score .f_d{
    padding-bottom: 30px;
}
.S_Explain .score .f_d .range{
	width: 400px;
	height: 2px;
	background: #cac5c5;
	border: 1px solid grey;
	border-radius: 20px;
}
.f_d p{
    padding-bottom: 7px;
    font-size: 13px;
}
.S_Explain .score .f_d .range .inner{
	width: 85%;
	height: 1px;
	border: 1px solid green;
	background:  green;
	border-radius: 20px;
	animation: animate 5s ;
}
@keyframes animate{
	from{
		width: 0%;
	}
	to{
		left: 70%;
	}
}
.whole{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 100%;
}
.Education{
        
	position: relative;
        color: #269926;
        text-align: center;
        top: 40px;
}
.line{
        
	display: inline-block;
	height: 470px;
	color: white;        
        justify-content: center;
	width: 0px;
	background: white;
	border: 1px solid white;
}
.line .spot1{
	position: relative;
	top: 20px;
	width: 6px;
	right: 4px;
	height: 6px;
	color: green;
	background: green;
	border-radius: 50%;
	border: 1px solid green;
}
.line .spot2{
	position: relative;
	top: 40px;
	width: 6px;
	right: 4px;
	height: 6px;
	background: green;
	border-radius: 50%;
	border: 1px solid green;
}
.line .spot3{
	position: relative;
	top: 180px;
	width: 6px;
	right: 4px;
	height: 6px;
	background: green;
	border-radius: 50%;
	border: 1px solid green;
}
.line .spot4{
	position: relative;
	top: 200px;
	width: 6px;
	right: 4px;
	height: 6px;
	background: green;
	border-radius: 50%;
	border: 1px solid green;
}
.line .spot5{
	position: relative;
	top: 340px;
	width: 6px;
	right: 4px;
	height: 6px;
	background: green;
	border-radius: 50%;
	border: 1px solid green;
}
.line .spot6{
	position: relative;
	top: 360px;
	width: 6px;
	right: 4px;
	height: 6px;
	background: green;
	border-radius: 50%;
	border: 1px solid green;
}
.para{
	display: block;
}
.para .para1{
	position: relative;
	width: 410px;
	height: 150px;
	left: -19px;
        top: -13px;
	background: white;
	border: 1px solid white;
        box-shadow: -10px -10px 10px rgba(98, 91, 91, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.23);
}
.box{
	position: relative;
	float:right;
	height: 20px;
	left:12px;
	top: 27px;
	width: 20px;
	background: white;
	transform: rotate(45deg);
	border: 1px solid white;
}
.para .para2{
	position: relative;
	width: 410px;
        left: -19px;
	top: 10px;
	height: 150px;
	background: white;
	border: 1px solid white;
	box-shadow: -10px -10px 10px rgba(98, 91, 91, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.23);
}
.para .para3{
	position: relative;
	width: 410px;
/*	top: 48px;*/
        top: 34px;
        left: -19px;
	height: 150px;
/*	margin-left: -30px;*/
	background: white;
	border: 1px solid white;
	box-shadow: -10px -10px 10px rgba(98, 91, 91, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.23);
}
.para2{
	display: block;
}
.para2 .para2_1{
	position: relative;
	width: 395px;
	height: 150px;
        left: 19px;
        top: 13px;
	background: white;
	border: 1px solid white;
	box-shadow: -10px -10px 10px rgba(98, 91, 91, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.23);
}
.para2 .para2_2{
	position: relative;
	width: 395px;
	top: 38px;
	height: 150px;
	left: 19px;
	background: white;
	border: 1px solid white;
	box-shadow: -10px -10px 10px rgba(98, 91, 91, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.23);
}
.para2 .para2_3{
	position: relative;
	width: 395px;
	top: 61px;
	height: 150px;
	left: 19px;
	background: white;
	border: 1px solid white;
	box-shadow: -10px -10px 10px rgba(98, 91, 91, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.23);
}
.box2{
	position: relative;
	float:left;
	height: 20px;
	right:12px;
	top: 27px;
	width: 20px;
	background: white;
	transform: rotate(45deg);
	border: 1px solid white;
}
.edu{
    color: #269926;
    margin: 20px;
    font-family:initial;
    margin-bottom: 10px;
}
.edu_content{
    margin: 20px;
    margin-top: 0px;
    font-size: 12px;
}
.year{
    position: relative;
    background: #269926;
    width: 100px;
    top: -5px;
    color: white;
    margin-left: 20px;
}
.year p{
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
.arrow{
    position: relative;
    width: 0px;
    height: 0px;
    top: -10px;
    float: right;
    transform: rotate(180deg);
    border-right: 7px solid transparent;
    boder-left: 7px solid transparent;
    border-top: 12px solid #269926;
}
.Information .git a{
	text-decoration: none;
	color: #349105;
}
.Information .Linked a{
	text-decoration: none;
	color: #349105;
}
.project_whole{
   position: relative;
   top: 80px;
}
.project_whole h1{
    text-align: center;
    color: #269926;
    font-size: 30px;
    font-family: initial;
    padding: 20px;
    padding-bottom: 40px;
}
.project{
    	display: flex;
	flex-direction: row;
	background: white;
	justify-content: space-between;
}
.project1{
    	display: flex;
	flex-direction: row;
	height: 450px;
	background: white;
	justify-content: space-between;
}
.B_box
{
	position: relative;
	width: 200px;	
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #060c21;
	margin:30px;
	transition: 0.5s;
}
.B_box:hover
{
	height: 400px;
}
.imgBox
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.B_box .imgBox img
{
	max-width: 100%;
	opacity: 0.1;
	transition: 0.5%;
}
.B_box:hover .imgBox img
{
	opacity: 1;
}

.B_box .content
{
	position: absolute;
	left: 2px;
	top: 300px;
	right: 2px;
	bottom: 5px;
	width: 190px;
	height: 40px;
	background: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	text-align: center;
	transition: 0.5%;
}
.B_box:hover .content
{
	opacity: 1;
}
.B_box .content h2
{
        position: relative;
        color: white;
	font-size: 16px;
	color: white;
	font-weight: 500;
	line-height: 20px;
	Letter-spacing: 1px;
}
.B_box .content h2 a{
	text-decoration: none;
	color: white;
}
.B_box .content h2 span
{
	font-size: 14px;
	color: #fff;
	font-weight: 200;
	Letter-spacing: 2px;
}
.B_box .h11 h2
{
	font-size: 14px;
	color: white;
	font-weight: 400;
	Letter-spacing: 2px;
}
.view_all{
	text-align: center;
}
.view_all a{
	font-size: 20px;
	position: relative;
	top: -70px;
	color: black;
	padding: 10px;
	border: 1px solid black;
	text-decoration: none;
}
@media only screen and (max-width: 700px)
{
    .hole{
        height: 1300px;
        background: #cac5c5;
    }
    .main{
        position: relative;
        margin-left: 30px;
    }
    .header{
        
        height: 450px;
    }
    .Name{
        position: relative;
        margin-left: 15px;
	text-align: center;
        word-spacing: 0px;
	letter-spacing: 0px;
        top: 40px;
    }
    .Name h1{
        
        font-size: 18px;
        font-family: initial;
    }
    .Name p{
       
        font-size: 10px;
    }
    .main_nav li{
        position: relative;
        display: inline;
        text-align: center;
        font-size: 16px;
        margin-left: 25px;
        margin-right: 5px;
        top: 60px;
        padding: 0px;
    }
    .Introduction{
        position: relative;
        top: 80px;
        width: 300px;
        height: 100%;
    }
    .Introduction .Intro_data{
        font-size: 12px;
    }
    .Introduction .Intro_data .logo-nav{
        width: 300px;
	top: 5%;
    }
    .Introduction .Intro_data .logo-nav li{
        position: relative;
        padding: 24px;
        left: 0px;
        font-size: 25px;
    }
    .Introduction .Intro_data .head{
        width: 250px;
    }
    .skills{
        margin-top: 100px;
    }
    .skills h2{
        position: relative;
        text-align: center;
        top: 10px;
        color: #269926;
    }
    .S_Explain {
        display: block;
        width: 300px;
        height: 500px;
    }
    .S_Explain .contain{
        width: 250px;
        padding: 30px;
        padding-left: 20px;
        font-size: 13px;
    }
    .S_Explain .score span{
        position: relative;
        left: 85px;   
    }
    .S_Explain .score .f_d{
        padding-bottom: 30px;
    }
    .S_Explain .score .f_d .range{
	width: 275px;
    }
    .whole{
        display: block;
        margin-top: 40px;
        margin-left: 0px;
    }
    .Education {
	position: relative;
        color: #269926;
        text-align: center;
        top: 40px;
    }
    .line{
	display: block;
	height: 0px;
	color: #cac5c5;
	width: 0px;
	background: white;
	border: 1px solid white;
	}
.line .spot1{
	top: 0px;
	right: 0px;
	background: white;
	border: 1px solid white;
}
.line .spot2{
    	top: 0px;
	right: 0px;
	background:white;
	border: 1px solid white;
}
.line .spot3{
    	top: 0px;
	right: 0px;
	background:white;
	border: 1px solid white;
}

.line .spot4{
    	top: 0px;
	right: 0px;
	background:white;
	border: 1px solid white;
}
.line .spot5{
    	top: 0px;
	right: 0px;
	background:white;
	border: 1px solid white;
}
.line .spot6{
    	top: 0px;
	right: 0px;
	background: white;
	border: 1px solid white;
}
.para{
	display: block;
	position: relative;
	top: 30px;
	left: 0px;
}
.para .para1{
	width: 300px;
	height: 150px;
        left: 0px;
	margin-left: 0px;
}
.para .para2{
	width: 300px;
	height: 150px;
	left: 0px;
}
.para .para3{
	width: 300px;
	height: 150px;
        background: white;
	left: 0px;
}
.para2{
	display: block;
	position: relative;
	top: 73px;
}
.para2 .para2_1{
	position: relative;
	width: 300px;
	height: 150px;
        left: 0px;
}
.para2 .para2_2{
	position: relative;
	width: 300px;
	height: 150px;
        left: 0px;
}
.para2 .para2_3{
	position: relative;
	width: 300px;
	height: 150px;
        left: 0px;
}
.box2{
	float:right;
	left:12px;
}
.project_whole{
       position: relative;
       top: 150px;
       width: 300px;
}
.project_whole h1{
    padding-bottom: 20px;
}

.project{
    	display: block;
	flex-direction: row;
        padding: 3px;
	background: white;
	padding-left: 16px;
	justify-content: space-between;
}
.project1{
    display: block;
    padding: 3px;
    position: relative;
    top: -70px;
    height: 1100px;
    padding-left: 16px;
    flex-direction: row;
    background: white;
    justify-content: space-between;
}
.view_all a{
	font-size: 20px;
	position: relative;
	top: -140px;
	color: black;
	padding: 10px;
	border: 1px solid black;
	text-decoration: none;
}
}
/*
@media only screen and (max-width: 800px){
    .Name{
        position: relative;
        word-spacing: 0px;
    }
    .Name h1{  
        font-size: 18px;
        font-family: initial;
    }
    .Name p{
        font-size: 12px;
        letter-spacing: 3.3px;
    }
    .main_nav li{
        margin-right: 20px;
        font-size: 25px;
    }
    .Introduction{
	height: 353px;
	margin-top: 200px;
    }
    .Introduction .pic img{
	height: 100%;
	width: 160%;
    }
    .Introduction .Intro_data{
        position: relative;
	margin-top: 20px;
	left: 93.5px;
        font-size: 12px;
    }
    .Introduction .Intro_data .logo-nav li{
        position: relative;
        padding: 12px;
        left: 30px;
    }
    .Introduction .Intro_data .head{
        position: relative;
	border-bottom: 1px solid grey;
        border-bottom: 1px ;
	width: 450px;
    }
    .Introduction .Intro_data .Information p{
	padding-top: 20px;
    }
    .Introduction .Intro_data .logo-nav{
	position: relative;
	width: 86%; 
	left: -31px;
	height: 50px;
	background: #269926;
    } 
.Introduction .Intro_data .logo-nav li{
	padding: 55px;
        padding-left: 0px;
	font-size: 20px;
}
.S_Explain{
    width: 100%;
}
.S_Explain .score span{
    position: relative;
    left: 60px;   
}
.S_Explain .score .f_d .range{
	width: 250px;
}
.whole{
    display:flex;
    justify-content: center;
    height: auto;
    widht: 100%;
}
.line{
        margin-left: 150px;
}
.para{
	display: block;
	position: relative;
        length: -300px;
	top: -485px;
	left: -400px;
}
.para .para1{
	position: relative;
	width: 310px;
	left: 130px;
}
.para .para2{
	width: 240px;
        left: 100px;
}
.para .para3{
	width: 290px;
        top: 34px;
        left: -19px;
	height: 150px;
	margin-left: -30px;
	background: white;
	border: 1px solid white;
	box-shadow: 5px 10px #dbc8c8;
}
.para2{
	display: block;
	position: relative;
        bottom: -100px;
        top: -912px;
}
.para2 .para2_1{
	position: relative;
        width: 270px;
	right: 130px;
        top: 13px;
	margin-left: 22px;
	background: white;
	border: 1px solid white;
	box-shadow: 5px 10px #dbc8c8;
}
.para2 .para2_2{
	position: relative;
	width: 395px;
	top: 38px;
	height: 150px;
	left: 19px;
	background: white;
	border: 1px solid white;
	box-shadow: 5px 10px #dbc8c8
}
.para2 .para2_3{
	position: relative;
	width: 395px;
	top: 61px;
	height: 150px;
	left: 19px;
	background: white;
	border: 1px solid white;
	box-shadow: 5px 10px #dbc8c8;
}
.box2{
	position: relative;
	float:left;
	height: 20px;
	right:12px;
	top: 27px;
	width: 20px;
	background: white;
	transform: rotate(45deg);
	border: 1px solid white;
}
}*/
