*{
	margin: 0px;
	padding: 0px;
}
.hole{
    background: #cac5c5; 
    height: 2000px;
}
.header{
	background: #269926;
	height: 450px;
}
.main{
    position:relative;
    margin-left: 80px;
    margin-right: 80px;
    top: 40px;
}
.Name{
	color: white;
	word-spacing: 1px;
	letter-spacing: 5px;
	font-family:initial;
	/*text-align: center;*/
}
.Name h1{	
	font-size: 25px;
	Text-transform: uppercase;
}
.Name p{
	font-size: 25px;
	letter-spacing: 10px;
}
.login{
    display: inline-block;
    float: right;
    position: relative;
    top: -50px;
    padding: 5px 0px;
    font-size: 20px;
    color: white;
}
.login a{
    list-style: none;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}
.login a span{
    padding: 10px;
}
.Introduction{
	display: flex;
	background: #fff;
	height: 400px;
	margin-top: 100px;
	width: 800px;
}
.Introduction .pic img{
	height: 100%;
	width: 100%;
}
.Introduction .Intro_data{
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
}
.Introduction .Intro_data .head{
	border-bottom: 1px solid grey;
	width: 500px;
}
.Introduction .Intro_data .Information p{
	padding-top: 20px;
}
.Introduction .Intro_data .logo-nav{
	position: relative;
	top: 28%;
	right: 20px;
	width: 104%; 
	height: 50px;
	background: #269926;
} 
.Introduction .Intro_data .logo-nav li{
	display: inline;
	padding: 42px;
	color: white;
	font-size: 30px;
	list-style: none;
}
.Introduction .Intro_data .logo-nav li a i{
	color: white;
        padding-top: 10px;
}
.skills{
    margin-top: 60px;
}
.skills h2{
    text-align: center;
    color: #269926;
}
.S_Explain{
    display: flex;
    background: white;
    margin-top: 40px;
    width: 800px; 
    height: 900px;
    box-shadow: -10px -10px 10px rgba(98, 91, 91, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.23);
}
.S_Explain .contain{
    display: block;
    width: 350px;
    padding: 40px;
    font-size: 20px;
}

@media only screen and (max-width: 700px)
{
    .hole{
        height: 1300px;
        background: #cac5c5;
    }
    .main{
        position: relative;
        margin-left: 30px;
    }
    .header{
        
        height: 450px;
    }
    .Name{
        position: relative;
        margin-left: 15px;
        text-align: center;
        word-spacing: 0px;
        letter-spacing: 0px;
/*        top: 40px;*/
    }
    .Name h1{
        
        font-size: 18px;
        font-family: initial;
    }
    .Name p{
       
        font-size: 10px;
    }
    .login{
        top: 30px;
        float: left;
        margin-left: 40px;
        padding: 5px 20px;
        font-size: 15px;
    }
    .login a span{
        border: none;
    }
    .main_nav li{
        position: relative;
        display: inline;
        text-align: center;
        font-size: 16px;
        margin-left: 25px;
        margin-right: 5px;
        top: 60px;
        padding: 0px;
    }
    .Introduction{
        position: relative;
        top: 80px;
        width: 300px;
        height: 100%;
    }
    .Introduction .Intro_data{
        font-size: 12px;
    }
    .Introduction .Intro_data .logo-nav{
        width: 300px;
	top: 5%;
    }
    .Introduction .Intro_data .logo-nav li{
        position: relative;
        padding: 24px;
        left: 0px;
        font-size: 25px;
    }
    .Introduction .Intro_data .head{
        width: 250px;
    }
    .skills{
        margin-top: 100px;
    }
    .skills h2{
        position: relative;
        text-align: center;
        top: 10px;
        color: #269926;
    }
    .S_Explain {
        display: block;
        width: 300px;
        height: 600px;
    }
    .S_Explain .contain{
        width: 250px;
        padding: 30px;
        padding-left: 20px;
        font-size: 13px;
    }
    .S_Explain .score span{
        position: relative;
        left: 85px;   
    }
    .S_Explain .score .f_d{
        padding-bottom: 30px;
    }
    .S_Explain .score .f_d .range{
	width: 275px;
    }
    .whole{
        display: block;
        margin-top: 40px;
        margin-left: 0px;
    }
    .Education {
	position: relative;
        color: #269926;
        text-align: center;
        top: 40px;
    }
    .line{
	display: block;
	height: 0px;
	color: #cac5c5;
	width: 0px;
	background: white;
	border: 1px solid white;
	}
.line .spot1{
	top: 0px;
	right: 0px;
	background: white;
	border: 1px solid white;
}
.line .spot2{
    	top: 0px;
	right: 0px;
	background:white;
	border: 1px solid white;
}
.line .spot3{
    	top: 0px;
	right: 0px;
	background:white;
	border: 1px solid white;
}

.line .spot4{
    	top: 0px;
	right: 0px;
	background:white;
	border: 1px solid white;
}
.line .spot5{
    	top: 0px;
	right: 0px;
	background:white;
	border: 1px solid white;
}
.line .spot6{
    	top: 0px;
	right: 0px;
	background: white;
	border: 1px solid white;
}
.para{
	display: block;
	position: relative;
	top: 30px;
	left: 0px;
}
.para .para1{
	width: 300px;
	height: 150px;
        left: 0px;
	margin-left: 0px;
}
.para .para2{
	width: 300px;
	height: 150px;
	left: 0px;
}
.para .para3{
	width: 300px;
	height: 150px;
        background: white;
	left: 0px;
}
.para2{
	display: block;
	position: relative;
	top: 73px;
}
.para2 .para2_1{
	position: relative;
	width: 300px;
	height: 150px;
        left: 0px;
}
.para2 .para2_2{
	position: relative;
	width: 300px;
	height: 150px;
        left: 0px;
}
.para2 .para2_3{
	position: relative;
	width: 300px;
	height: 150px;
        left: 0px;
}
.box2{
	float:right;
	left:12px;
}
.project_whole{
       position: relative;
       top: 150px;
       width: 300px;
}
.project_whole h1{
    padding-bottom: 20px;
}

.project{
    	display: block;
	flex-direction: row;
        padding: 3px;
	background: white;
	padding-left: 16px;
	justify-content: space-between;
}
.project1{
    display: block;
    padding: 3px;
    position: relative;
    top: -70px;
    height: 1100px;
    padding-left: 16px;
    flex-direction: row;
    background: white;
    justify-content: space-between;
}
.view_all a{
	font-size: 20px;
	position: relative;
	top: -140px;
	color: black;
	padding: 10px;
	border: 1px solid black;
	text-decoration: none;
}

